@import "tailwindcss";

@source "../../src/**/*.{html,js,ts,jsx,tsx}";

:root {
  --color-button-primary: #4b72c6;
  --color-button-primary-hover: #2b5bc2;
  --color-button-primary-text: #ffffff;
  /* --color-button-secondary: #e5e7eb;
  --color-button-secondary-hover: #96999f;
  --color-button-secondary-text: #111827; */
  --color-button-alert: #e74c3c;
  --color-button-alert-hover: #8d251a;
  --color-border-input: #1f2937;
  --color-border-input-hover: #374151;

  --color-text-primary: #374151;
  --color-text-on-dark: #f9fafb;
  --color-heading-1: #111827;
  --color-heading-2: #1f2937;
  --color-heading-3: #242a47;

  --color-bg-body: #f9fafb;
  --color-bg-secondary: #f3f4f6;
  --color-bg-header: #1e293b;
  --color-bg-footer: #1e293b;
  --color-bg-nav: #111827;
  --color-border: #a9acac;
}

/* Layout Util Styles */
@utility bg-body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-body);
}

@utility bg-header {
  @apply fixed w-full;
  background-color: var(--color-bg-header);
  color: var(--color-text-on-dark);
  & h1,
  & h2,
  & h3 {
    color: var(--color-text-on-dark);
  }
}

@utility bg-footer {
  background-color: var(--color-bg-footer);
  color: var(--color-text-on-dark);
  & h1,
  & h2,
  & h3 {
    color: var(--color-text-on-dark);
  }
}

/** Button Styles */
@utility btn {
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: all 0.3s ease;
}

@utility btn-primary {
  @apply btn;
  background-color: var(--color-button-primary);
  color: var(--color-button-primary-text);
  &:hover {
    background-color: var(--color-button-primary-hover);
  }
}

@utility btn-secondary {
  @apply btn;
  background-color: var(--color-button-secondary);
  color: var(--color-button-secondary-text);
  &:hover {
    background-color: var(--color-button-secondary-hover);
  }
}

@utility btn-alert {
  @apply btn;
  background-color: var(--color-button-alert);
  color: var(--color-button-primary-text);
  &:hover {
    background-color: var(--color-button-alert-hover);
  }
}

@utility btnGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@utility btnGroup-stacked {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Text Input Styles */
@utility inputText {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  & label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-heading-2);
    flex: 0 0 auto;
  }
  & input {
    @apply border;
    border-color: var(--color-border-input);
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: all 0.2s ease;
    background-color: #ffffff;
    color: var(--color-heading-1);

    :focus {
      outline: none;
      border-color: var(--color-button-primary);
      box-shadow: 0 0 0 2px rgba(75, 114, 198, 0.2);
    }

    :hover {
      border-color: var(--color-border-input-hover);
    }
  }
}

@utility text {
  color: var(--color-text-primary);
}
@utility text-onDark {
  color: var(--color-text-on-dark);
  &:hover {
    color: var(--color-text-on-dark);
  }
}

@utility linkText {
  @apply no-underline transition-colors hover:text-left;
}

@utility linkText-onDark {
  @apply text-onDark text-gray-400 no-underline transition-colors;
}

/** Box Styles */
@utility border {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}
@utility displayBox {
  @apply mb-2 flex flex-col gap-4 rounded px-2 py-4;
}
@utility info-box {
  @apply border;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
}

@utility description-box {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
}

@utility smooth-transition {
  transition-property: transform, translate, scale, rotate, margin, padding;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

@layer base {
  body {
    @apply bg-body font-sans;
    color: var(--color-text-primary);
    margin: 0;
  }

  header {
    @apply bg-header;
  }
  footer {
    @apply bg-footer;
  }

  h1 {
    @apply mb-2 text-3xl font-bold;
    color: var(--color-heading-1);
  }

  h2 {
    @apply mb-3 text-2xl font-semibold;
    color: var(--color-heading-2);
  }

  h3 {
    @apply text-xl font-medium;
    color: var(--color-heading-3);
  }

  p {
    @apply leading-relaxed text-gray-700;
    color: var(--color-text-primary);
  }

  a {
    @apply text-blue-600 no-underline hover:underline;
  }
}
