/* Shared Hook Layout Styles */

/* .hook-layout {
  @apply p-5 font-sans;
}

.hook-layout h2 {
  @apply mt-0;
}

.hook-tips {
  @apply mt-5 rounded bg-gray-100 p-2;
}

.hook-tips strong {
  @apply mb-1 block;
}

.hook-tips ul {
  @apply mt-2 pl-5;
}

.hook-tips li {
  @apply mb-1;
} */
